#tit {color:green;}
img {width: 400px;}
#thirdDiv {width: 500px; height: 600px}
#thirdDiv {background-color: green;}
#spanId {font-size: 18px;}
#spanId {margin: 50px;}
#thirdDiv {padding: 50px;}
#thirdDiv {border-style: double; border-color: red;}